server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ecommerce?useSSL=false&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: validate     # valida contra tu DDL (recomendado)
    show-sql: true
    properties:
      hibernate:
        format_sql: true
